@model Service.BMWindows.Executes.AppItem.AppItemViewModel

<form novalidate>
    
<input type="hidden" name="Id" value="@Model.Id" />

<div class="form-group">
    <label class="control-label">Tên ứng dụng <span class="text-danger">*</span></label>
    <input type="text" 
           name="Name" 
           value="@Model.Name" 
           class="form-control" 
           placeholder="Nhập tên ứng dụng" 
           maxlength="200" 
           data-validation="required" />
</div>

<div class="form-group">
    <label class="control-label">Nhóm ứng dụng <span class="text-danger">*</span></label>
    <select name="CategoryId" class="form-control" style="padding: 1px 14px; " data-validation="required">
        <option value="">-- Chọn nhóm --</option>
        @if (ViewBag.Categories != null)
        {
            @foreach (var cat in ViewBag.Categories as IEnumerable<Service.BMWindows.Executes.Category.CategoryViewModel>)
            {
                @if (Model.CategoryId == cat.Id)
                {
                    <option value="@cat.Id" selected="selected">@cat.Name</option>
                }
                else
                {
                    <option value="@cat.Id">@cat.Name</option>
                }
            }
        }
    </select>
</div>

<div class="form-group">
    <label class="control-label">URL</label>
    <input type="url" 
           name="Url" 
           value="@Model.Url" 
           class="form-control" 
           placeholder="https://example.com" 
           maxlength="500" />
</div>

<div class="form-group">
    <label class="control-label">Icon</label>
    <input type="text" 
           name="Icon" 
           value="@Model.Icon" 
           class="form-control" 
           placeholder="fa-solid fa-cube" 
           maxlength="100" />
</div>

<div class="form-group">
    <label class="control-label">Từ khóa</label>
    <input type="text" 
           name="Keyword" 
           value="@Model.Keyword" 
           class="form-control" 
           placeholder="Nhập từ khóa để tìm kiếm" 
           maxlength="500" />
</div>

<div class="form-group">
    <label class="control-label">Thứ tự ưu tiên</label>
    <input type="number" 
           name="Prioritize" 
           value="@Model.Prioritize" 
           class="form-control" 
           placeholder="Nhập số thứ tự ưu tiên"
           min="0"
           step="1" />
</div>

<div class="form-group">
    <label class="control-label">Trạng thái</label>
    <select name="Status" class="form-control" style="padding: 1px 12px">
        @if (Model.Status == 0)
        {
            <option value="0" selected="selected">Dừng</option>
        }
        else
        {
            <option value="0">Dừng</option>
        }
        
        @if (Model.Status == 1)
        {
            <option value="1" selected="selected">Hoạt động</option>
        }
        else
        {
            <option value="1">Hoạt động</option>
        }
        
    </select>
</div>

</form>
